@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

input:focus {
  outline: none; }

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

img {
  max-width: 100%; }

.title {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(29, 93, 55, 0.9), rgba(29, 93, 55, 0.9)), url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .title h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive; }
  .title p {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300; }
    .title p a {
      color: #fff;
      text-decoration: none; }

.content {
  min-height: calc(100vh - 202px);
  background: #efcead;
  background: linear-gradient(180deg, #efcead 0%, rgba(255, 255, 255, 0) 100%);
  padding-top: 60px; }
  .content .signg1 {
    min-height: 100px;
    background: #1d5d37;
    position: relative;
    max-width: calc(50% + 150px);
    width: 100%;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .content .signg1 span {
      text-align: right;
      font-family: 'Dancing Script', cursive;
      color: #fff;
      text-decoration: none;
      position: absolute;
      right: 0;
      font-size: 40px;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 110px; }
      .content .signg1 span img {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40px; }
  .content .signg1:after {
    content: '';
    position: absolute;
    right: -70px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 70px solid #1d5d37;
    border-bottom: 50px solid transparent; }
  .content .tright {
    text-align: right;
    display: block; }
  .content .signg2 {
    min-height: 100px;
    background: #0B5345;
    position: relative;
    display: inline-block;
    max-width: calc(50% + 150px);
    width: 100%;
    margin-top: 60px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .content .signg2 span {
      text-align: right;
      font-family: 'Dancing Script', cursive;
      color: #fff;
      text-decoration: none;
      position: absolute;
      left: 0;
      font-size: 40px;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 110px; }
      .content .signg2 span img {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40px; }
  .content .signg2:after {
    content: '';
    position: absolute;
    left: -70px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 70px solid #0B5345;
    border-bottom: 50px solid transparent; }
  .content .signg1:hover, .content .signg2:hover {
    max-width: calc(50% + 190px); }
  .content .cont_ins {
    padding-left: 15px;
    padding-right: 15px;
    display: block; }
    .content .cont_ins h2 {
      font-family: 'Dancing Script', cursive;
      color: #1d5d37;
      font-size: 60px;
      text-align: center;
      margin-top: 80px; }
